*.ipynb
__pycache__/
*.pyc

.vscode/
data/
.venv/

.git/
.gitignore
*.log

notebooks/
*.csv
*.tsv
.DS_Store
*.h5
*.json
*.html
*.zip
*.tgz
*.docx
requirements-dev.txt

checkpoints/

.vscode/
.idea/

.github

*.pyo

*.pyd

models/__pycache__/
models/best_model.pt
models/pretrained_model/*

tests
tests/*